@keyframes slide-from-left {
    0% {
        transform: translateX(100%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#auth-portal {
    width: 100vw;
    height: Max(100vh, 50rem);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282828 !important;
    z-index: 300;
    animation: slide-from-left 0.5s ease-out;

    .image-container {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;
        background-color: rgba($color-gray-9, 1);
    }

    .background-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0.7;
    }
}

.auth-section {
    padding: 0 2.5rem;
    padding-top: 3.5rem;
    background-color: rgba($color-gray-8, 0.8);
    max-width: 40vw;
    height: 100%;
    z-index: 350;
    clip-path: polygon(0% 0%, 60% 0%, 100% 100%, 0% 100%);
}
