@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pos-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin hide-scrollbar() {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    // Chrome and Safari
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin underline-from-middle($bg, $size: 2px) {
    position: relative;

    &::after {
        content: '';
        height: $size;
        width: 0;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.35s ease-out;
        background-color: $bg;
    }

    &:hover::after {
        width: 100%;
    }
}

@mixin max-query($break-point) {
    @media only screen and (max-width: $break-point) {
        @content;
    }
}

@mixin min-query($break-point) {
    @media only screen and (min-width: $break-point) {
        @content;
    }
}

@mixin interval-query($bp-1, $bp-2) {
    @media screen and (min-width: $bp-1) and (max-width: $bp-2) {
        @content;
    }
}
