@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './abstract/variables';
@import './abstract/mixins';
@import './abstract/functions';
@import './base/animations';
@import './base/utilities';

@import './components';
@import './layout/layout';
@import './pages/lobby';
@import './pages/room';
@import './pages/auth';

* {
    font-family: 'Poppins', sans-serif;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #797a79;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #845695;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2a2a2a;
    color: #fff;
    font-size: 14px;
    min-height: 100vh;
}

p,
a {
    font-weight: 300;
}

@layer components {
    .flex-center {
        @apply flex justify-center items-center;
    }
}
